# FastAPI Configuration
HOST=0.0.0.0
PORT=8000

# Model Configuration
MODEL_PATH=./models/bert-phishing-detector
MODEL_PATH_LSTM=./models_data/lstm_model.pt
MODEL_PATH_GRU=./models_data/gru_model.pt
TOKENIZER_PATH_RNN=./models_data/rnn_tokenizer.pkl
